flask==2.3.3
flask-cors==4.0.0
pymongo==4.5.0
bcrypt==4.0.1
PyJWT==2.8.0
python-dotenv==1.0.0
soundfile==0.12.1
Pillow==10.0.1
python-multipart==0.0.6 

# DreamTalk Dependencies
# opencv-python==4.8.1.78
# moviepy==1.0.3
# tqdm==4.66.1
# dlib==19.24.2
# av==10.0.0
# scipy==1.11.4
# yacs==0.1.8
# gradio==3.50.2
# librosa==0.10.1
# transformers==4.35.2
# facexlib==0.3.0
# insightface==0.7.3
# xformers==0.0.22
# triton==2.0.0
# torch==2.0.1
# torchvision==0.15.2
# torchaudio==2.0.1 